.App {
  text-align: center;
  background-color: #000000;
  height: 100vh;
  width: 100vw;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.chatwindowMain {
  width: 95vw;
  height: 95vh;
  left: 2.5vw;
  top: 2.5vh;
  background-color: #2e4172;
  position: relative;
  border-radius: 15px;
  border-style: solid;
  border-color: #5871ab;
  box-shadow: 10px 10px 8px 10px #111D39;
}

.submitForm {
  position: absolute;
  bottom: 0%;
}
.submitInput {
  height: 3.5vh;
  width: 65%;
  border-radius: 10px;
  padding-left: 3px;
  font-size: 1em;
  border-color: #9fbcff;
}
.submitButton {
  height: 3.5vh;
  border-style: solid;
  border-color: #9fbcff;
  color: #9fbcff;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0);
  margin-left: 5px;
  font-size: 1em;
}

.chatBoxWindowSub {
  text-align: bottom;
  text-align: left;
  overflow-y: scroll;
  width: 95%;
  height: 95%;
  color: #9fbcff;
  left: 2.5%;
  top: 2.5%;
  padding: 1vw, 1vw, 3vh, 1vw;

  position: absolute;
}

#content {
  margin-top: 3vh;
}
